{% extends 'base.html' %}

{% block content %}
<div class="container">
  <!-- Simple Form -->
  <h2 class="my-4">Add a new movie poster</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <input type="file" name="upload" accept="image/*"> -->
    <div class="d-flex-col">
      <label>画像*</label>
      <label id="upload-file-container" for="photo">
        <input id="photo" type="file" name="photo"/>
        <span class="upload-file-wrapper">
          <i class="fa fa-cloud-upload"></i>
          <span>ファイルを選択</span>
        </span>
      </label>
    </div>
    <button class="btn btn-dark my-4" type="submit">Submit</button>
  </form>

  <!-- See Image Uploaded -->
  <h2 class="" my-4>Movie Poster</h2>
  <div class="row">
    {% if file_url %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
      <img src="{{ file_url }}" class="img-fluid">
      <br>
      <a class="btn btn-dark my-4" href="/">Return to HomePage</a>
    </div>
    {% else %}
    <p>No movies posters added</p>
    {% endif %}
  </div>
</div>
{% endblock %}